* text=auto eol=lf

# Binary files
*.7z binary -eol
*.ai binary -eol
*.avif binary -eol
*.bmp binary -eol
*.bz2 binary -eol
*.dbf binary -eol
*.dll binary -eol
*.doc binary -eol
*.docx binary -eol
*.eot binary -eol
*.eps binary -eol
*.exe binary -eol
*.gif binary -eol
*.gpkg binary -eol
*.gz binary -eol
*.heic binary -eol
*.heif binary -eol
*.ico binary -eol
*.jar binary -eol
*.jpg binary -eol
*.jpeg binary -eol
*.otf binary -eol
*.parquet binary -eol
*.pdf binary -eol
*.png binary -eol
*.psd binary -eol
*.rda binary -eol
*.RData binary -eol
*.rdb binary -eol
*.rdx binary -eol
*.rds binary -eol
*.shp binary -eol
*.shx binary -eol
*.so binary -eol
*.sqlite binary -eol
*.sqlite3 binary -eol
*.tar binary -eol
*.tif binary -eol
*.tiff binary -eol
*.ttf binary -eol
*.tgz binary -eol
*.wasm binary -eol
*.webp binary -eol
*.woff binary -eol
*.woff2 binary -eol
*.xls binary -eol
*.xlsx binary -eol
*.zip binary -eol

# Common text formats used in this repository
*.R text eol=lf
*.Rmd text eol=lf
*.Rd text eol=lf
*.Rproj text eol=lf
*.bib text eol=lf
*.cff text eol=lf
*.cpg text eol=lf
*.css text eol=lf
*.csv text eol=lf
*.html text eol=lf linguist-detectable=false
*.js text eol=lf linguist-detectable=false
*.json text eol=lf
*.md text eol=lf
*.orig text eol=lf
*.qmd text eol=lf
*.sh text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.webmanifest text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

.gitattributes text eol=lf
.gitignore text eol=lf
.imgbotconfig text eol=lf
.lintr text eol=lf
.Rbuildignore text eol=lf
CITATION text eol=lf
COPYRIGHTS text eol=lf
DESCRIPTION text eol=lf
LICENSE text eol=lf
NAMESPACE text eol=lf
WORDLIST text eol=lf
