name: Clear GHA caches manually
permissions: write-all

on:
  workflow_dispatch:
  schedule:
    - cron:  '30 13 16 * *'
jobs:
  cache-clear:
    runs-on: ubuntu-latest

    steps:
      - uses: easimon/wipe-cache@main

